<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  </head>
  <body>
  <br>
<br>
<br>
<br>
<br>

<br>
  <div>
  <section class="templateux-portfolio-overlap mb-5" id="next">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6" data-aos="fade-up">
            <a class="post animsition-link" href="blog-single.html">
              <figure>
               <img src="{{ output[0] }}" alt="Free Template" class="img-fluid">
              </figure>
            </a>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <a class="post animsition-link" href="blog-single.html">
              <figure>
                 <img src="http://webarchive.loc.gov/all/20150318155641/http://media.giphy.com/media/1000eGIbYHercI/giphy.gif" alt="Free Template" class="img-fluid">
              </figure>

            </a>
          </div>
        </div>
        <!-- END row -->

        <div class="row">
          <div class="col-md-6" data-aos="fade-up">
            <a class="post animsition-link" href="blog-single.html">
              <figure>
                <img src="{{ output[1] }}" alt="Free Template" class="img-fluid">
              </figure>

            </a>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <a class="post animsition-link" href="blog-single.html">
              <figure>
                <img src="http://webarchive.loc.gov/all/20150318155641/http://media.giphy.com/media/1000eGIbYHercI/giphy.gif" alt="Free Template" class="img-fluid">
              </figure>

            </a>
          </div>
        </div>
        <!-- END row -->

        <div class="row">
          <div class="col-md-6" data-aos="fade-up">
            <a class="post animsition-link" href="blog-single.html">
              <figure>
                <img src="http://webarchive.loc.gov/all/20150318155641/http://media.giphy.com/media/1000eGIbYHercI/giphy.gif" alt="Free Template" class="img-fluid">
              </figure>
            </a>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <a class="post animsition-link" href="blog-single.html">
              <figure>
               <img src="http://webarchive.loc.gov/all/20150318155641/http://media.giphy.com/media/1000eGIbYHercI/giphy.gif" alt="Free Template" class="img-fluid">
              </figure>

            </a>
          </div>
        </div>

      </div>
    </section>

    </div>
  </body>
</html>
