<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  </head>
  <body>
  <form action="{{ url_for('hello_world2') }}" method="post">
      <center>
          <input type="text" placeholder="Enter Text" name="user_input"/>
          <input type="submit" value="select GIF"/>
          <br>
          <br>
          <br>
          <h1>GiphyFi your texts</h1>
      </center>
  </form>
  </body>
</html>
